:root {
  color: white;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  /* background-image: url('../assets/background.jpg'); */
  background-size: cover;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.page-name {
  color: white;
  padding: 30px 0;
  font-size: 60px;
}
header > div {
  display: flex;
}

header > div > button {
  background-color: Transparent;
  border: none;
  color: white;
  font-size: 25px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

header > div > button:hover {
  color: #bec1c7;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #374151;
  padding: 25px;
  width: fit-content;
  border-radius: 20px;
}

.home-page p {
  padding: 0px 0 15px 0;
  margin: 0;
  font-size: 20px;
}

.home-page img {
  width: 400px;
  border-radius: 30px;
}

.menu-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.menu-item {
  background-color: #374151;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
  width: 300px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: #4b5563;
}

.menu-item img {
  width: 100px;
}

.menu-item p {
  text-align: center;
  margin: 0;
}

.contact-page {
  width: 700px;
  background-color: #374151;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.contact-page p {
  font-size: 120%;
  margin: 0;
  width: fit-content;
}

.contact-page img {
  width: 90%;
}
